# ====================================================================
# ARCHIVOS DE COMPILACIÓN DE C / C++ (Proyectos de 42)
# ====================================================================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.out
a.out
*.gch

# ====================================================================
# ARCHIVOS DE CONFIGURACIÓN DE EDITORES E IDEs (Bloqueo Total)
# ====================================================================
.idea/
*.iml
*.iws
*.ipr
out/
gen/
.vscode/
*.code-workspace
.history/
.metadata/
.classpath
.project
.settings/
*.launch
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ====================================================================
# ARCHIVOS BASURA DEL SISTEMA OPERATIVO
# ====================================================================
# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
VolumeIcon.icns
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
*.ini
$RECYCLE.BIN/
System Volume Information/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# ====================================================================
# ARCHIVOS TEMPORALES, CACHÉ Y LOGS
# ====================================================================
*.log
*.log.*
*.tmp
*.bak
*.swp
*.swo
.node_repl_history
__pycache__/
*.pyc
.env
